* {
    font-family: 'Cabin', sans-serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Judson', serif;
}

h1, h2, h4, ul {
    margin: 0;
}

.contenedor {
    display: flex;
    flex-direction: row;
    width: 1050px;
    margin: 0 auto;
}

    header {
        margin-bottom: 15px;
        /* background-color: rgba(49, 184, 189, 0.849);
        color: royalblue; */
        padding: 15px;
        display: flex;
        flex-direction: column;
        width: 35%;
        margin-right: 15px;
        border-right: 2px solid rgba(49, 49, 49);
    }

        .img-acm {
            margin-right: 15px;
            width: 150px;
            height: 220px;
            object-fit: cover;
            border-radius: 100%;
        }

            header h1 {
                color: rgb(189, 26, 167)
            }

            header div p {
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .imagen-titulo {
                display: flex;
             }

             .titulos{
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
             }

            .resaltado-oscuro {
                background-color: rgb(106, 96, 244);
                font-weight: bold;
                color: snow;
                padding-left: 3px;
                padding-right: 3px;
                font-size: 20px;
            }

            .resaltado-amarillo {
                background-color: rgb(244, 205, 96);
                font-weight: bold;
                padding-left: 3px;
                padding-right: 3px;
            }

            img.big {
                transform: scale(1.2);
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }

    .contenido {
        width: 65%;
    }
   
        article {
        margin-bottom: 15px;
        background-color: rgb(247, 243, 243);
        padding: 15px;
        border: 1px solid lightgray;
        transition: all 0.3s;
        cursor: pointer;
        }

            article a {
                text-decoration: none;
                color: inherit;
            }

            article ul, article p {
                display: none;
            }

            article:hover {
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }

            .active {
                background-color: rgb(0, 51, 128);
                color: whitesmoke;
            }

            article.active ul, article.active p {
                display: block;
            }







